@import '../../node_modules/foundation-sites/scss/foundation';
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline');
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-everything;

// GLOBAL
html,
body,
h1,
h2,
h3,
h4,
h5,
label,
p {
  color: #fff;
  font-family: 'VT323', monospace;
  font-weight: normal;
}

a {
  color: rgb(254, 233, 0) !important;
}

input {
  // border: 0 !important;
  // color: #333 !important;
  // box-shadow: none !important;
  // background: transparent !important;
  // border-bottom: 1px solid #333 !important;
}

input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  // color: #8f8f8f;
  // opacity: 1; /* Firefox */
}

// input::-webkit-input-placeholder {
//   /* Chrome/Opera/Safari */
//   color: #8f8f8f;
// }
// input::-moz-placeholder {
//   /* Firefox 19+ */
//   color: #8f8f8f;
// }
// input:-ms-input-placeholder {
//   /* IE 10+ */
//   color: #8f8f8f;
// }
// input:-moz-placeholder {
//   /* Firefox 18- */
//   color: #8f8f8f;
// }

a {
  color: #1779ba;
  text-decoration: none;
  cursor: pointer !important;
}

// BODY CONTAINER
.body_container {
  position: absolute;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  height: 100vh;
  background-image: url('https://screensh.s3.amazonaws.com/assets/NNoFNWf.png');
  background-size: cover;
  background-repeat: no-repeat;

  .main-title {
    color: #fee900;
    font-family: 'Fascinate Inline',  sans-serif;
    font-size: 20pt;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .content-container {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // background-color: #fff;
  text-align: center;
  p {
    color: #cccccc;
  }
}



.info {
  position: absolute;
  top: rem-calc(50);
  cursor: pointer !important;
}

.content-container {
  position: relative;
  // top: rem-calc(50);
}

#loader {
  animation: spin 1s linear infinite;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px;
}

@keyframes spin {
  0% {
    box-shadow: 
      0px -30px #fff, 
      10px -30px #fff, 
      20px -20px #fff, 
      30px -10px #fff, 
      30px 0px #fff, 
      30px 10px #fff, 
      20px 20px #fff, 
      10px 30px #fff, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  6.25% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px #fff, 
      20px -20px #fff, 
      30px -10px #fff, 
      30px 0px #fff, 
      30px 10px #fff, 
      20px 20px #fff, 
      10px 30px #fff, 
      0px 30px #fff, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  12.5% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px #fff, 
      30px -10px #fff, 
      30px 0px #fff, 
      30px 10px #fff, 
      20px 20px #fff, 
      10px 30px #fff, 
      0px 30px #fff, 
      -10px 30px #fff, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  18.75% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px #fff, 
      30px 0px #fff, 
      30px 10px #fff, 
      20px 20px #fff, 
      10px 30px #fff, 
      0px 30px #fff, 
      -10px 30px #fff, 
      -20px 20px #fff, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  25% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px #fff, 
      30px 10px #fff, 
      20px 20px #fff, 
      10px 30px #fff, 
      0px 30px #fff, 
      -10px 30px #fff, 
      -20px 20px #fff, 
      -30px 10px #fff, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  31.25% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px #fff, 
      20px 20px #fff, 
      10px 30px #fff, 
      0px 30px #fff, 
      -10px 30px #fff, 
      -20px 20px #fff, 
      -30px 10px #fff, 
      -30px 0px #fff, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  37.5% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px #fff, 
      10px 30px #fff, 
      0px 30px #fff, 
      -10px 30px #fff, 
      -20px 20px #fff, 
      -30px 10px #fff, 
      -30px 0px #fff, 
      -30px -10px #fff, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
  43.75% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px #fff, 
      0px 30px #fff, 
      -10px 30px #fff, 
      -20px 20px #fff, 
      -30px 10px #fff, 
      -30px 0px #fff, 
      -30px -10px #fff, 
      -20px -20px #fff,
      -10px -30px transparent;
  }
  50% {
    box-shadow: 
      0px -30px transparent, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px #fff, 
      -10px 30px #fff, 
      -20px 20px #fff, 
      -30px 10px #fff, 
      -30px 0px #fff, 
      -30px -10px #fff, 
      -20px -20px #fff,
      -10px -30px #fff;
  }
  56.25% {
    box-shadow: 
      0px -30px #fff, 
      10px -30px transparent, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px #fff, 
      -20px 20px #fff, 
      -30px 10px #fff, 
      -30px 0px #fff, 
      -30px -10px #fff, 
      -20px -20px #fff,
      -10px -30px #fff;
  }
  62.5% {
    box-shadow: 
      0px -30px #fff, 
      10px -30px #fff, 
      20px -20px transparent, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px #fff, 
      -30px 10px #fff, 
      -30px 0px #fff, 
      -30px -10px #fff, 
      -20px -20px #fff,
      -10px -30px #fff;
  }
  68.75% {
    box-shadow: 
      0px -30px #fff, 
      10px -30px #fff, 
      20px -20px #fff, 
      30px -10px transparent, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px #fff, 
      -30px 0px #fff, 
      -30px -10px #fff, 
      -20px -20px #fff,
      -10px -30px #fff;
  }
  75% {
    box-shadow: 
      0px -30px #fff, 
      10px -30px #fff, 
      20px -20px #fff, 
      30px -10px #fff, 
      30px 0px transparent, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px #fff, 
      -30px -10px #fff, 
      -20px -20px #fff,
      -10px -30px #fff;
  }
  81.25% {
    box-shadow: 
      0px -30px #fff, 
      10px -30px #fff, 
      20px -20px #fff, 
      30px -10px #fff, 
      30px 0px #fff, 
      30px 10px transparent, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px #fff, 
      -20px -20px #fff,
      -10px -30px #fff;
  }
  87.5% {
    box-shadow: 
      0px -30px #fff, 
      10px -30px #fff, 
      20px -20px #fff, 
      30px -10px #fff, 
      30px 0px #fff, 
      30px 10px #fff, 
      20px 20px transparent, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px #fff,
      -10px -30px #fff;
  }
  93.75% {
    box-shadow: 
      0px -30px #fff, 
      10px -30px #fff, 
      20px -20px #fff, 
      30px -10px #fff, 
      30px 0px #fff, 
      30px 10px #fff, 
      20px 20px #fff, 
      10px 30px transparent, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px #fff;
  }
  100% {
    box-shadow: 
      0px -30px #fff, 
      10px -30px #fff, 
      20px -20px #fff, 
      30px -10px #fff, 
      30px 0px #fff, 
      30px 10px #fff, 
      20px 20px #fff, 
      10px 30px #fff, 
      0px 30px transparent, 
      -10px 30px transparent, 
      -20px 20px transparent, 
      -30px 10px transparent, 
      -30px 0px transparent, 
      -30px -10px transparent, 
      -20px -20px transparent,
      -10px -30px transparent;
  }
}

@media (max-width: 1200px) { 
  .info {
    display: none !important;
  }
}
